.projectcontainer {
  height: 100%;
  width: 100%;
  /* border: 1px solid green; */
  box-sizing: border-box;
}

.projectnav {
  height: 12%;
  width: 100%;
  /* border: 1px solid teal; */
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-left: 30px;
  margin-top: 10px;
  height: 50%;
  /* border: 1px solid teal; */
  display: flex;
  align-items: center;
}

.alert {
  margin-right: 30px;
  /* margin-top: 50px; */
  /* border: 1px solid teal; */
  width: 100px;
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 100%;
  
  /* justify-content: space-between; */
  
  align-items: center;
}
.alert *{
    margin-top: 35px;
}
.name {
  font-family: Plus Jakarta Sans;
  font-size: 37.74px;
  font-weight: 800;
  color: #7e22ce;

  /* line-height: 40.56px; */
  /* text-align: left; */
}

.mainbox {
  height: auto;
  width: 80%;
  margin: auto;
  /* border: 2px solid teal; */
}

.backtohomebtn {
  width: 180px;
  height: 35px;
  padding: 5px;
  border-radius: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: white;
   color: #3C3C3C;
  
  border: white;
  margin-top: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mainconteiner {
  height: auto;
  width: 100%;
  /* border: 1px solid teal; */
  text-align: center;
}

.mainconteinerwithprojectdata{
  height: auto;
  width: 100%;
  /* border: 1px solid teal; */
  text-align: center;
  margin-top: 10px;
}

.heading1 {
  font-family: Roboto;
  font-size: 40.41px;
  /* border: 1px solid teal; */
  color: #7e22ce;
  font-weight: 700;
  margin-top: -2px;
  /* line-height: 86.03px; */
  /* text-align: left; */
}

.img {
  height: 280px;
  width: 500px;
  /* border: 1px solid teal; */
  margin-top: -37px;
}

.content {
  width: 100%;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 25.02px;
  text-align: center;
  margin-top: -10px;
}

.content p{
    color: #838383;

}

/* .btndiv{
    width: 569.83px;
    height: 109.92px;
    margin: auto;
} */

.blackbtn {
  width: 28%;
  height: 45.92px;
  top: 831px;
  left: 675px;
  gap: 0px;
  border-radius: 12.89px;
  opacity: 0px;
  /* display: block; */
  display: flex;
  margin: auto;
  background: #211935;
  color: white;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
}

.headerdata{
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  align-items: center;
  margin-top: 20px;
  
}


.blacktwo{
  height: 40px;
  background-color: black;
  color: white;
  display: flex;
  border-radius: 5px;

  align-items: center;
  cursor: pointer;
}
.carddiv{
  height: auto;
  width: 100%;
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  column-gap: 72px;
  row-gap: 20px;
  margin-top: 20px;
}



.card{
  height: 80px;
  width: 300px;
  /* border: 1px solid red; */
  border-radius: 8px;
  display: flex;
  padding: 5px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

.cardname{
  height: 100%;
  width: 35%;
  background-color: #7e22ce;
  
  border-radius: 5PX 5PX 5PX 5PX;
  text-align: center;
  align-items: center;
  align-content: center;
  /* font-size: 35PX */
  font-size: 50PX;
  font-weight: 700;
  color: white;
}

.cardcontent{
  height: 100%;
  width: 65%;
  text-align: justify;
  margin-left: 15px;
  /* display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center; */

}
.small{
  height: 50px;
  width: 100%;
  /* border: 1px solid red; */
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.projectname{
  /* margin-top: 8px; */
  font-size: 22px;
  font-weight: 500;
  color: #7e22ce;
}


.epi{
  font-weight: 400;
  /* margin-top: -5px; */
}